body{
    padding: 10px;
    font-family: 'Sedgwick Ave Display', cursive;
    background-image: url('backgroundPicture.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}