body{
    padding: 10px;
    font-family: 'Sedgwick Ave Display', cursive;
    background-color: #85b4ff;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}